body {
    margin: 0;

    .container {
        position: relative;


        .test-container {
            position: absolute;
            opacity: 0.2;
            // top: 0;
            // left: 0;
            height: 100vh;
            background-image: url(./design/desktop-design-slide-1.jpg);
            background-size: cover;
            width: 100vw;
        }
    }

}